.body{
    display: grid;
    grid-template-columns: repeat(21, 2rem);
    height: 11.2rem;
    margin-top: 3rem;
    position: relative;
}
.body-circle{
   background-color: #B37200;
  // box-shadow: inset 0px 0px 0rem 0.2rem #48422C;
   border-radius: 50%;
   height: 1.2rem;
   position: relative;
   z-index: 1;
   width: 1.2rem; 
}

.body-siren{
    background-color: #48422C;
    border-radius: 50%;
    height: 10.2rem;
    position: absolute;
    right: 2rem;
    top: 0.2rem;
    width: 10.2rem;
}